{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%", "ie 11", "not op_mini all"]
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "emotion",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
